a.out

kickstart/2021/round_d/cutting_intervals/data/secret/subtask2/1.in
kickstart/2021/round_d/final_exam/data/secret/subtask2/1.in
kickstart/2021/round_d/primes_and_queries/data/secret/subtask2/1.in
kickstart/2021/round_g/staying_hydrated/data/secret/subtask2/1.in
kickstart/2022/round_f/story_of_seasons/data/secret/subtask2/1.in
kickstart/2022/round_f/story_of_seasons/data/secret/subtask3/1.in